*{
    padding: 0%;
    margin: 0%;
    font-family: 'Roboto', sans-serif;
}


body{
    overflow-x: hidden;
}




h1{
    color: white;
    font-size: 80px;
}
p{
    color: white;
    font-size: 15px;
}
.hero_text{

    margin-left: 10%;
}

.hero_text p{
    width: 51%;
}

logo{
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

logo img{
    box-shadow: none;
}

nav-link{
    display: flex;
    justify-content: center;
    align-items: center;

    justify-content: space-between;
    width: 50%;
}


nav{
    width: 95%;
    height: 10vh;
    display: flex;
    justify-content: center;
    justify-content: space-between;
    padding-left: 2%;

    background: none;
    position: absolute;
    z-index: 1;
    
}

logo-img{
    width: 50px;
    height: 50px;

    background-image: url("Yu-kai_Chou.jpg");
}
#logo-img{
    box-shadow: none;
}
logo-text{
    color: white;
    font-size: large;
}

nav-link a{
    color: white;
    text-decoration: none;
}
.important{

    color: rgb(139, 139, 255);

}

button{

    width: fit-content;
    height: 5vh;

    background: white;
    border: none;
    outline: none;
    border-radius: 30px;
    


}


section{
    width: 100vw;
    height: 100vh;
    display: flex;

    justify-content: center;
    align-items: center;

    justify-content: space-evenly;

    background-color: rgb(247, 247, 247);

    
}
.hero_text{
    height: 40%;

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
#Hero_btn button{
    width: 15%;
}



#a_div{
    width: 50%;
    height: 100vh;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#a_div h1{
    color: #FFF;
    font-size: 57px;
    font-family: Roboto;
    font-weight: 700;
}
#a_div p{
    display: flex;
    width: 412px;
    flex-direction: column;
    justify-content: center;
    flex-shrink: 0;

    color: #FFF;
    font-size: 16px;
    font-family: Roboto;





    
}
#b_div{

    width: 40%;
    height: 60vh;

    display: flex;
    justify-content: end;
    align-items: center;


}
#b_div img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    border-radius: 30px;
}
#Hero2{
    background-color: #180018;
    display: flex;
    justify-content: center;
    align-items: center;

}
.Quart{

    color: #FFF;
    border-left: 1px solid white;
    padding: 4%;
}

.dialog_box{


    width: 30%;
    height: 70%;

    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;

    padding: 2%;
    border-radius: 30px;

    box-shadow: 10px 10px 10px -1px rgba(0, 0, 0, 0.144),
                -10px -10px 10px -1px rgba(255, 255, 255, 0.7);

}
ico-box{
    width: 100%;
    margin-bottom: 6%;
}


.ico-box{

    width: 50px;
    height: 50px;
    border-radius: 60%;

    box-shadow: 5px 5px 5px -1px rgba(0, 0, 0, 0.144),
    -5px -5px 5px -1px rgba(255, 255, 255, 0.7);
}
#Landing-Page{

    background-image: url("main-img.svg");
    background-position: center;
    background-size: cover;

    justify-content: start;


}

#contactUS{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: start;
    align-items: center;

    flex-direction: row-reverse;
    justify-content: space-evenly;

    
    background-image: url('https://images.unsplash.com/photo-1519681393784-d120267933ba?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1124&q=100');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

#contactUS_txt {
    color: white;
    font-size: 80px;
    width: 60%;
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    justify-content: space-evenly;  


    margin-left: 5%;


    backdrop-filter: blur(16px) saturate(180%);
    -webkit-backdrop-filter: blur(16px) saturate(180%);
    background-color: rgba(17, 25, 40, 0.75);
    border-radius: 12px;
    border: 1px solid rgba(255, 255, 255, 0.125);
    padding: 1%;




}

.HeroBtn{
    width: 20%;
}

#KMAM{
    width: 30%;    
}   

#contactUS_txt h1{
    font-size: xx-large;
}

form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    justify-content: space-evenly;

    width: 70%;
    height: 70%;
}

input{

    background: none;
    outline: none;
    border: none;
    width: 85%;
    height: 10%;
    padding-left: 1%;
    color: white;

    font-size: large;


    backdrop-filter: blur(16px) saturate(180%);
    -webkit-backdrop-filter: blur(16px) saturate(180%);
    background-color: rgba(17, 25, 40, 0.75);
    border-radius: 12px;
    border: 1px solid rgba(255, 255, 255, 0.125);
    padding: 1%;
}

@keyframes colorChange{

    0%{
        border: 1px solid rgb(139, 145, 255);
    }

    100%{
        border: 1px solid rgb(199, 139, 255);
    }
    
}



input:focus{
    animation: colorChange 5s ease-in-out infinite alternate;
}

textarea{
    background: none;
    outline: none;
    border: none;
    width: 85%;
    height: 30%;
    padding-left: 1%;
    color: white;

    font-size: large;

    resize: none;
    padding: 5%;

    backdrop-filter: blur(16px) saturate(180%);
    -webkit-backdrop-filter: blur(16px) saturate(180%);
    background-color: rgba(17, 25, 40, 0.75);
    border-radius: 12px;
    border: 1px solid rgba(255, 255, 255, 0.125);
    padding: 1%;

}
#octalysis_book{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;

    

}
#octalysis_book h1{

    color: black;
}
#octalysis_book p{
    color: black;
}
#Yu-kai_Vs_ChatGPT{

    flex-direction: column;
    width: 100%;
    padding-top: 2%;

}
#Yu-kai_Vs_ChatGPT h1{
    margin-top: 2%;
    font-size: xx-large;
    color: black;
}   
#Batalground{
    height: 100%;
    width: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: row;
}
#VsText{

    width: 90%;
    height: 10vh;
    padding: 2%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    justify-content: space-evenly;
    text-align: center;

    color: black;
}
#VsText p{
    color: black;
}